html{
height: 97%;
width: 97%;
  font-family: Helvetica, Arial, sans-serif;
}
body{
  background-color: rgb(28, 29, 38);
  color: white;
  height: 100%;
}
.headWrapper{
  position: absolute;
  top: 10px;
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  height: 10%;
  width: 97%;
  background-color: rgb(58, 59, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-style: oblique;
  padding: 10px;
  margin: 20px;
}
button{
  background: slateblue;
}
input[type=button]{
  background: slateblue;
}
.header > button {
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
}
a{
    color: white;
    font-size: 12pt;
    text-decoration: none;
}
.linkContainer{
    background-color: slateblue;
    margin: 10px;
    padding: 10px;
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}
