.sidebar{
  background-color: rgb(68, 69, 78);
  border-radius: 10px;
  width: fit-content;
  min-width: 300px;
  padding: 10px;
  height: 80vh;
  margin: 20px;
  margin-top: 130px;
  
}
.Container{
  display: flex;
}
.popup{
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  backdrop-filter: blur(10px);
}
.controlConfiguration{
  flex: 1;
  background-color: rgb(58, 59, 68);
  margin: 20px;
  margin-top: 130px;
  border-radius: 10px;
}
.popupContent{
  display: flex;
  padding: 50px;
  width: 40vw;
  height: 30vh;
  background-color: rgb(38, 39, 58);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
